name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-24.04
    steps:
      - run: curl --version || true
      - run: dpkg-deb --version || true
      - run: npm --version || true
      - run: apt install -y quilt
      - run: quilt --version || true
      - run: npx @electron/asar --version
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: List files in the repository
        run: ls ${{ github.workspace }}
