name: GitHub Actions Demo
on: [push]
jobs:
  download_deb:
    runs-on: ubuntu-24.04
    container:
      image: docker.io/library/debian:trixie-20260202-slim
    steps:
      - run: apt install --assume-yes --no-install-recommends curl npm quilt
      - run: curl --version || true
      - run: dpkg-deb --version || true
      - run: npm --version || true
      - run: quilt --version || true
      - run: npx @electron/asar@4.0.1 --version
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: List files in the repository
        run: ls ${{ github.workspace }}
