name: GitHub Actions Demo
on:
  - push
jobs:
  download_deb:
    runs-on: ubuntu-24.04
    container:
      image: quay.io/curl/curl:8.18.0
      options: --user root
    steps:
      - run: curl --output package.deb https://files.staruml.io/releases-v7/StarUML_7.0.0_amd64.deb
      - uses: actions/upload-artifact@v4
        with:
          name: package.deb
          path: package.deb

  unpack_deb:
    needs:
      - download_deb
    runs-on: ubuntu-24.04
    container:
      image: docker.io/library/debian:13.3-slim
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: package.deb
      - run: dpkg-deb --raw-extract package.deb package
      - uses: actions/upload-artifact@v4
        with:
          name: package
          path: package
